/*------------------------------------*\
 * Estilos generales para Debut.
 *
 * 
 * @autor Daniel Martinez
 * @licencia MIT
\*------------------------------------*/

/**
 * INDICE DE CONTENIDO.
 *
 * 1. Cabecera.
 * 2. Menú
 * ...
 *
 */

/*------------------------------------*\
    1. Cabecera.
\*------------------------------------*/


/*h1*/.logo {
    font-size: 5em;
    letter-spacing: -5px;
}
    /*h1*/.logo > a {
        color: #333;
        text-decoration: none;
    }
        /*h1*/.logo > a:hover {
            color: #555;
        }

/*nav*/.menu { margin: 0 0 1em 0; }


/*------------------------------------*\
    X. Footer.
\*------------------------------------*/
/*p*/.descripcion {
    font-style: italic;
    font-weight: 700;
}

/*------------------------------------*\
    X. Entradas.
\*------------------------------------*/
/*textarea*/.textoentrada, .textocomentario {
    height: 8em !important;
}